@import url("https://fonts.googleapis.com/css?family=Inter:500,700&display=swap&subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic&display=swap&subset=cyrillic-ext");
.header {
  position: fixed;
  width: 100%;
  height: 100vh;
}
.header__container {
  position: absolute;
  top: 10px;
  left: 45px;
  right: 45px;
  bottom: 50px;
  z-index: 20;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.header__block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.header__block::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.25);
}
.header__blockMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__li {
  margin-left: 20px;
}
.header__li:first-child {
  margin-left: 30px;
}
.header__link {
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.5px;
}
.header__blockCall {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__number {
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.5px;
}
.header__btnLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 28px;
  margin-right: 40px;
  color: rgb(255, 172, 48);
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.header__icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
}
.header__btnPhone {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.header__border {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-animation: puls 0.9s infinite alternate;
          animation: puls 0.9s infinite alternate;
}
.header__borderTwo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-animation: puls 0.9s infinite alternate;
          animation: puls 0.9s infinite alternate;
}
@-webkit-keyframes puls {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0.8);
            transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}
@keyframes puls {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0.8);
            transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}
.header__seeMore {
  position: absolute;
  top: 65%;
  left: 50px;
  -webkit-transform: translateY(-50%) rotate(-90deg);
      -ms-transform: translateY(-50%) rotate(-90deg);
          transform: translateY(-50%) rotate(-90deg);
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
}
@media (min-height: 900px) {
  .header__seeMore {
    top: 65%;
  }
}
.header__sublink {
  position: relative;
  padding-left: 80px;
  display: block;
  color: rgba(255, 255, 255, 0.5);
  font-family: Roboto;
  font-size: 6px;
  font-weight: 500;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.header__sublink::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 1px;
  background-color: #FFF;
  top: 50%;
  left: 0;
  opacity: 0.3;
}
@media (min-height: 900px) {
  .header__sublink::before {
    width: 120px;
  }
}
@media (min-height: 900px) {
  .header__sublink {
    font-size: 12px;
    padding-left: 160px;
  }
}
.header__social {
  position: absolute;
  bottom: 0px;
  left: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  pointer-events: all;
}
.header__social img {
  width: 20px;
  height: 20px;
}
.header__social a {
  margin-bottom: 4vh;
}
.header__social a:last-child {
  margin-bottom: 0px;
}

.pagin {
  position: absolute;
  top: 50%;
  right: 0;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
.pagin__btn {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid rgba(217, 217, 217, 0);
  background-color: transparent;
  position: relative;
}
.pagin__btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.active {
  border: 1px solid #D9D9D9;
}
.active::before {
  content: "";
  background-color: #FFAC30;
}

@media (min-width: 768px) {
  .burger {
    position: relative;
    width: 30px;
    height: 20px;
    left: 0;
    top: 0px;
    z-index: 10;
    background-color: transparent;
  }
  .burger span {
    position: absolute;
    width: 13px;
    height: 2px;
    background-color: white;
    left: 0;
    top: 8px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .burger::before, .burger::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    left: 0;
    z-index: 20;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .burger::before {
    top: 0;
    width: 25px;
  }
  .burger::after {
    bottom: 2px;
  }
  .burger._active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 50%;
  }
  .burger._active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 50%;
    width: 100%;
  }
  .burger._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
}

.img {
  width: 100%;
  height: 100vh;
  background-image: url("../img/Group 22.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

.img2 {
  width: 100%;
  height: 100vh;
  background-image: url("../img/Group 23.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  font-family: "";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-size: 14px;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  padding: 0px 0px 0px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.lock {
  overflow: hidden;
}

._container {
  max-width: 1320px;
  margin: 0px auto;
  padding: 0px 10px 0px 10px;
}
@media (max-width: 1130px) {
  ._container {
    max-width: 950px;
  }
}
@media (max-width: 992px) {
  ._container {
    max-width: 750px;
  }
}
@media (max-width: 768px) {
  ._container {
    max-width: none;
    padding: 0px 10px;
  }
}