//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
@import url("https://fonts.googleapis.com/css?family=Inter:500,700&display=swap&subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic&display=swap&subset=cyrillic-ext");
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "header";
@import "home";
@import "footer";
//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================


//</Шрифт по умолчанию>==========================================================================================

  .wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
	
  }

.page {
  padding: 0px 0px 0px 0px;
	flex: 1 1 auto;
}

.lock {
	overflow: hidden;
}
//<Адаптив сетка>===========================================================================================================

._container {
	max-width: 1320px;
	margin: 0px auto;
	padding: 0px 10px 0px 10px;
	@media (max-width: 1130px) {
		max-width: 950px;
	}
	@media (max-width: 992px) {
		max-width: 750px;
	}
	@media (max-width: 768px) {
		max-width: none;
		padding: 0px 10px;
	}
}
//======================

